@model Web.Models.DetalhePagamentoViewModel
<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="/Content/images/background/details-bg.jpg">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content xs-inner-welcome-content">
            <!-- End xs rating -->
            <h2 class="color-white">Detalhes de pagamento</h2>
            <ul class="xs-breadcumb fundpress-breadcumb">
                <li><a href="/" class="color-white"> Inicio /</a>Apoiar</li>
            </ul>
        </div>
    </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->
<main class="xs-all-content-wrapper">
    <section class="waypoint-tigger xs-content-section-padding">
        <div class="container">
            <h2>@Model.Projecto.Titulo</h2>
        </div>
</section>
</main>
    
