@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- version 2 caouse matters -->
<section class="xs-section-padding fundpress-cause-matters-v2" data-scrollax-parent="true">
    <div class="container">
        <div class="fundpress-heading-title-v3 text-center wow fadeInUp" data-wow-duration="1s">
            <br/>
            <div class="fundpress-heading-title-content">
                <h2>Bem-vindo à gestão da <span>MOVIMENTA</span></h2>
                <p>
                    Bom trabalho. Aqui na movimenta podes trabalhar desde onde quiseres
                </p>
            </div>
            @*<span class="parallax-title" data-scrollax="properties: { translateY: '-250px' }">Features</span>*@
        </div><!-- section heading -->
        <div class="row">
            <div class="col-md-4">
                <a href="/Dashboard/Carrossel">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.2s">
                        <i class="icon icon-cogwheel-outline xs-check-mark"></i>
                        <h4>Destaques </h4>
                        <p>Os destaques no topo da página principal.</p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Dashboard/Seguranca">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.4s">
                        <i class="icon icon-symbol xs-check-mark"></i>
                        <h4>Definições de segurança</h4>
                        <p>
                            Gerir os usuários da plataforma assim como as permissões que cada um possui.
                            Gerir as organizações que pertencem cada usuário. Gerênciar as organizações
                        </p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Dashboard/Categorias">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.6s">
                        <i class="icon icon-shopping-cart xs-check-mark"></i>
                        <h4>Categorias</h4>
                        <p>
                            Gerir as categorias a que pertencem as campanhas existentes na plataforma.
                            Gerir também os tipos de campanhas existentes
                        </p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Dashboard/Eventos">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.8s">
                        <i class="icon icon-man xs-check-mark"></i>
                        <h4>Eventos</h4>
                        <p>
                            Gerir os eventos existentes. Esses eventos devem ter um respaldo nas publicações do blog
                        </p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Dashboard/Sucessos">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="2s">
                        <i class="icon icon-users2 xs-check-mark"></i>
                        <h4>Sucessos</h4>
                        <p>
                            Adicionar e destacar relatos de crowdfunding de sucesso.
                        </p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>

            <div class="col-md-4">
                <a href="/Dashboard/Parceiros">
                    <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="2.2s">
                        <i class="icon icon-support xs-check-mark"></i>
                        <h4>Parceiros</h4>
                        <p>
                            Gerir a lista de parceiros e colaboradores da movimenta
                        </p>
                    </div><!-- .fundpress-icon-with-square-service-v2 END -->
                </a>
            </div>

        </div>
    </div>
</section><!-- End version 2 caouse matters -->
<!-- feature ideas -->