@{
    ViewBag.Title = "About";
}

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="/Content/images/background/about_us_bg.png">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content">
            <h2 class="color-white">Sobre Nós</h2>
            <ul class="xs-breadcumb fundpress-breadcumb">
                <li><a href="/" class="color-white"> Início /</a> Sobre Nós</li>
            </ul>
        </div>
    </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->
<main class="xs-all-content-wrapper">
    <!-- about us promo -->
    <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="fundpress-inner-about-content">
                        <h2 class="color-navy-blue">Estamos mudando a maneira como as coisas se tornam realidade.</h2>
                        <p>“A Movimenta é dessas plataforma que te dão a oportunidade e o espaço para trabalhar com pessoas
                         que te conheçam, te amam, e te apoiam. Não se trata de juntar dinheiro, mas sim, juntar as pessoas” </p>
                        <a href="#" class="xs-sign-logo">
                            <img src="/Content/images/logo2.png" alt="Fundpress author sign">
                        </a>
                    </div>
                    <!--
                        xs-inner-title
                        xs-padding-right
                        fundpress-inner-title
                        xs-equal-height-and-content-center
                    -->
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="fundpress-about-promo-image xs-box-shadow">
                        <img src="/Content/images/about.jpg" alt="">
                    </div>
                    <!--
                        fundpress-about-promo-image
                        xs-box-shadow
                     -->
                </div>
            </div>
        </div>
    </section>	<!-- about us promo end -->
    <!-- about us video text -->
    <section class="fundpress-video-popup-with-text">
        <div class="fundpress-video-top-section xs-navy-blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-lg-10 content-center">
                        <div class="xs-heading-title fundpress-heading-title">
                            <h2 class="color-white margin-bottom-0">“ A Movimenta não é somente para que sejas financiado. Aqui na Movimenta também se trata de dar suporte a grandes ideias ou uma causa brilhante, e se divertir ao máximo enquanto fazes isso ”</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about us video text -->
        <div class="funpress-video-popup xs-margin-top xs-margin-minus">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-lg-6 content-center">
                        <div class="fundpress-popup-image xs-box-shadow">
                            <img src="/Content/images/about_2.jpg" alt="">
                            <div class="xs-popup-content icon-position-center">
                                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="xs-video-popup full-round icon-identify-btn orange-btn xs-box-shadow xs-big-button"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	<!-- about us video text end -->
    </section>	<!-- about us video text end -->
    <!-- about us simple promo text -->
    <div class="fundpress-simple-promo-text-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-lg-9 content-center">
                    <div class="fundpress-title-text-content">
                        <h4 class="color-orange margin-bottom-0">Levante financiamento usando a tua rede de contactos e juntando-se à maior rede de crowdfunding de Angola</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6">
                    <div class="xs-text-content fundpress-text-content">
                        <p>A Movimenta é a mais rápida e maior rede de financiamento colectivo em Angola dedicada ao crowdfundind de recompensa e doações. Ela é usada por muitos para dar vida aos projectos que mais gostam e apoiar causas de caridade.​</p>
                        <p>Eventos de caridade e instituições académicas e não só, usam a movimenta para angariar fundos e terem a possibilidade de seguir com sua agenda de trablho</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6">
                    <div class="xs-text-content fundpress-text-content">
                        <p>Juntar dinheiro e apoiar uma causa nunca foi tão fácil. Só queremos que você tenha pensamento do tipo: “Melhor lugar para levantar fundos online para as suas causas favoritas.” Se ainda não sabes como é fácil levantar financiamento para seus projectos e/ começar uma campanha de caridade, por favor visite a página <a href="#" class="color-orange">Como funciona</a> ou @Html.ActionLink("Contácte-nos", "Contact", "Home", new {@class = "color-orange"})</p>
                                        </div>
                </div>
            </div>
        </div>
    </div>	<!-- about us simple promo text end -->
    <!-- about us side by side image version 1 -->
    <section class="xs-gray-bg fundpress-text-with-image-side-by-side-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="xs-box-shadow-2">
                        <img src="/Content/images/happy_people.jpg" alt="" class="img-100">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="fundpress-side-by-side-image-with-text">
                        <h5 class="color-orange">Visão</h5>
                        <div class="xs-inner-title fundpress-inner-title">
                            <h2 class="color-navy-blue">Tornar-se na plataforma de crowdfundig número um em Angola </h2>
                        </div>
                        <ul class="xs-list-item-icon-text xs-side-by-side-list">
                            <li><i class="fa fa-check color-orange"></i>Camapnhas abrangentes</li>
                            <li><i class="fa fa-check color-orange"></i>Tempo de aprovação reduzidos</li>
                            <li><i class="fa fa-check color-orange"></i>Campanhas de doação são exactamente para si</li>
                            <li><i class="fa fa-check color-orange"></i>Suporte imediato</li>
                        </ul>
                        <p>Graças ao árduo trabalho dessa equipe, o caminho áspero ja foi trilhado. Agora te resta desfrutar e contribuir a alavancar a economia na tua localidade</p>
                        <a href="#" class="xs-btn round-btn orange-btn">Iniciar uma Campanha</a>
                    </div>
                </div>
            </div>
        </div>
    </section>	<!-- about us side by side image version 1 end -->
    <!-- about us side by side image version 2 -->
    <section class="xs-bg xs-content-section-padding fundpress-text-with-image-side-by-side-2" style="background-image: url(/Content/images/icons-background-1.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="fundpress-side-by-side-image-with-text padding-right-100">
                        <h5 class="color-orange">Missão</h5>
                        <div class="xs-inner-title fundpress-inner-title">
                            <h2 class="color-navy-blue">Tornar as campanhas de Crowdfundig mais fáceis e divertidas do que nunca</h2>
                        </div>
                        <p>Criamos a Movimenta para ajudar com que projectos criativos ganhem vida. Medimos o nosso sucesso como empresa em como cumpimos a noss missão, não pelo tamanho das nossas rendas. Por isso que além das campanhas de recompensas também habilitamos as campanhas de doação.</p>
                        <a href="#" class="xs-btn round-btn orange-btn">Iniciar uma campanha</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="xs-box-shadow-2">
                        <img src="/Content/images/heppy_people_2.jpg" class="img-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>	<!-- about us side by side image version 2 end -->
    <!-- team section -->
    <section class="xs-gray-bg xs-team-section fundpress-team-section xs-section-padding">
        <div class="container">
            <div class="xs-section-heading row xs-margin-0">
                <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
                    <h2 class="color-navy-blue">Conheça a nossa equipe</h2>
                    <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    <p>A equipe por detras do trablho que desenvolvemos</p>
                </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
                <div class="xs-btn-wraper xs-padding-0 col-xl-3 col-md-3 d-flex-center-end">
                    @Html.ActionLink("Conhecer a Equipe","Equipe","Home",new {@class= "xs-btn round-btn orange-btn" })
                </div><!-- .xs-btn-wraper .d-flex-center-end .xs-col-3 END -->
            </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
        </div>
    </section>	<!-- team section end -->
    <!-- testimonial section -->
    <div class="xs-content-section-padding xs-testimonial-section fundpress-testimonial-section">
        <div class="container">
            <div class="xs-testimonial-slider slider-double-item xs-owl-dot owl-carousel">
                <div class="xs-testimonial-item">
                    <blockquote class="xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote">
                        <span class="xs-blockquote-icon fundpress-blockquote-icon">
                            <img src="/Content/images/quote-left.png" alt="">
                        </span>
                        " We are so glad that we made the switch to use FundPress this year and our results were fantastic. Our 8th Annual Race For Grace raised $457,000, which is a new record for us."
                    </blockquote><!-- xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote END -->
                    <div class="xs-spilit-container xs-testimonial-bio content-center width-70">
                        <div class="xs-avatar full-round fundpress-avatar-big">
                            <img src="/Content/images/avatar/testimonial-1.jpg" alt="" class="xs-box-shadow-2">
                        </div>
                        <div class="xs-item-footer fundpress-team-details fundpress-testimonial-details text-left">
                            <a href="#" class="color-navy-blue">
                                Mark Williamson
                            </a>
                            <h5 class="color-orange">Founder, UI Hub Inc.</h5>
                        </div>
                    </div><!-- xs-spilit-container xs-testimonial-bio content-center width-70 END -->
                </div><!-- xs-testimonial-item END -->
                <div class="xs-testimonial-item">
                    <blockquote class="xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote">
                        <span class="xs-blockquote-icon fundpress-blockquote-icon">
                            <img src="/Content/images/quote-left.png" alt="">
                        </span>
                        " We are so glad that we made the switch to use FundPress this year and our results were fantastic. Our 8th Annual Race For Grace raised $457,000, which is a new record for us."
                    </blockquote><!-- xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote END -->
                    <div class="xs-spilit-container xs-testimonial-bio content-center width-70">
                        <div class="xs-avatar full-round fundpress-avatar-big">
                            <img src="/Content/images/avatar/testimonial-2.jpg" alt="" class="xs-box-shadow-2">
                        </div>
                        <div class="xs-item-footer fundpress-team-details fundpress-testimonial-details text-left">
                            <a href="#" class="color-navy-blue">
                                Mark Henricks
                            </a>
                            <h5 class="color-orange">CEO, Pranklin Agency</h5>
                        </div>
                    </div><!-- xs-spilit-container xs-testimonial-bio content-center width-70 END -->
                </div><!-- xs-testimonial-item END -->
                <div class="xs-testimonial-item">
                    <blockquote class="xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote">
                        <span class="xs-blockquote-icon fundpress-blockquote-icon">
                            <img src="/Content/images/quote-left.png" alt="">
                        </span>
                        " We are so glad that we made the switch to use FundPress this year and our results were fantastic. Our 8th Annual Race For Grace raised $457,000, which is a new record for us."
                    </blockquote><!-- xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote END -->
                    <div class="xs-spilit-container xs-testimonial-bio content-center width-70">
                        <div class="xs-avatar full-round fundpress-avatar-big">
                            <img src="/Content/images/avatar/testimonial-3.jpg" alt="" class="xs-box-shadow-2">
                        </div>
                        <div class="xs-item-footer fundpress-team-details fundpress-testimonial-details text-left">
                            <a href="#" class="color-navy-blue">
                                Mark Henricks
                            </a>
                            <h5 class="color-orange">Founder, UI Hub Inc.</h5>
                        </div>
                    </div><!-- xs-spilit-container xs-testimonial-bio content-center width-70 END -->
                </div><!-- xs-testimonial-item END -->
                <div class="xs-testimonial-item">
                    <blockquote class="xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote">
                        <span class="xs-blockquote-icon fundpress-blockquote-icon">
                            <img src="/Content/images/quote-left.png" alt="">
                        </span>
                        " We are so glad that we made the switch to use FundPress this year and our results were fantastic. Our 8th Annual Race For Grace raised $457,000, which is a new record for us."
                    </blockquote><!-- xs-blockquote bg-color-white xs-box-shadow xs-content-padding fundpress-blockquote END -->
                    <div class="xs-spilit-container xs-testimonial-bio content-center width-70">
                        <div class="xs-avatar full-round fundpress-avatar-big">
                            <img src="/Content/images/avatar/testimonial-4.jpg" alt="" class="xs-box-shadow-2">
                        </div>
                        <div class="xs-item-footer fundpress-team-details fundpress-testimonial-details text-left">
                            <a href="#" class="color-navy-blue">
                                Mark Williamson
                            </a>
                            <h5 class="color-orange">CEO, Pranklin Agency</h5>
                        </div>
                    </div><!-- xs-spilit-container xs-testimonial-bio content-center width-70 END -->
                </div><!-- xs-testimonial-item END -->
            </div>
        </div>
    </div>	<!-- testimonial section end -->
</main>
