@{
    ViewBag.Title = "Contacte-nos";
}
<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-2 parallax-window" data-parallax="scroll" data-image-src="/Content/images/background/get_in_bg.jpg">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content">
            <h2 class="color-white">Contacte-nos</h2>
            <ul class="xs-breadcumb fundpress-breadcumb">
                <li><a href="/" class="color-white"> Início /</a> Contacte-nos</li>
            </ul>
        </div>
    </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->
<main class="xs-all-content-wrapper">
    <!-- contact details section -->
    <section class="xs-content-section-padding fundpress-contact-details-section xs-contact-details-section">
        <div class="container">
            <div class="fundpress-heading-title text-center xs-mb-60">
                <h2 class="color-navy-blue xs-mb-0">Estamos sempre disponíveis para dar suporte</h2>
            </div><!-- .xs-heading-title .fundpress-heading-title END -->
            <div class="row">
                <div class="col-md-4">
                    <div class="fundpress-contact-details">
                        <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
                            <div class="fundpress-window-top">
                                <div id="xs-multiple-map-1" class="xs-map"></div>
                            </div>
                            <div class="fundpress-window-back">
                                <img src="/Content/images/contact/contact-info-img-1.png" alt="">
                            </div>
                            <div class="fundpress-window-nav">
                                <a href="#" class="fundpress-window-opener">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- xs-box-shadow xs-mb-40 fundpress-widnow-wraper -->
                        <ul class="xs-list-item-icon-text">
                            <li><i class="fa fa-phone color-orange"></i>+244 222 XXX XXX</li>
                            <li><i class="fa fa-envelope-o color-orange"></i>name@movimenta.ao</li>
                            <li><i class="fa fa-map-marker color-orange"></i>Nelito Soares, Luanda, Angola</li>
                        </ul>
                    </div>
                    <!-- fundpress-contact-details -->
                </div>
                <div class="col-md-4">
                    <div class="fundpress-contact-details">
                        <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
                            <div class="fundpress-window-top">
                                <div id="xs-multiple-map-2" class="xs-map">
                                    <!--Aqui vai representação do mapa, pode ser uma foto... investigar-->
                                </div>
                            </div>
                            <div class="fundpress-window-back">
                                <img src="/Content/images/contact/contact-info-img-2.png" alt="">
                            </div>
                            <div class="fundpress-window-nav">
                                <a href="#" class="fundpress-window-opener">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- xs-box-shadow xs-mb-40 fundpress-widnow-wraper -->
                        <ul class="xs-list-item-icon-text">
                            <li><i class="fa fa-phone color-orange"></i>+244 222 XXX XXX</li>
                            <li><i class="fa fa-envelope-o color-orange"></i>name@movimenta.ao</li>
                            <li><i class="fa fa-map-marker color-orange"></i>10/A, Hesting City, USA</li>
                        </ul>
                    </div>
                    <!-- fundpress-contact-details -->
                </div>
                <div class="col-md-4">
                    <div class="fundpress-contact-details">
                        <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
                            <div class="fundpress-window-top">
                                <div id="xs-multiple-map-3" class="xs-map"></div>
                            </div>
                            <div class="fundpress-window-back">
                                <img src="/Content/images/contact/contact-info-img-3.png" alt="">
                            </div>
                            <div class="fundpress-window-nav">
                                <a href="#" class="fundpress-window-opener">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- xs-box-shadow xs-mb-40 fundpress-widnow-wraper -->
                        <ul class="xs-list-item-icon-text">
                            <li><i class="fa fa-phone color-orange"></i>+244 222 XXX XXX</li>
                            <li><i class="fa fa-envelope-o color-orange"></i>name@movimenta.ao</li>
                            <li><i class="fa fa-map-marker color-orange"></i>Marianao, La Habana, Cuba</li>
                        </ul>
                    </div>
                    <!-- fundpress-contact-details -->
                </div>
            </div>
        </div>
    </section>	<!-- End contact details section -->
    <!-- contact us section -->
    <section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 content-center">
                    <div class="xs-section-heading fundpress-section-heading">
                        <div class="xs-heading-title fundpress-heading-title">
                            <h2 class="color-navy-blue">Fale connosco</h2>
                            <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                            <p>A Movimenta foi cuidadosamente desenhada por pessoas reais e, para nós, a comunicação com nossos movimentadores, clientes e parceiros não pode ser terceirizada. Quando se trata de burocracia, menos é mais.</p>
                        </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
                    </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 content-center">
                    <div class="xs-contact-form-wraper">
                        <form action="#" method="POST" id="xs-contact-form">
                            <div class="row xs-margin-0 xs-mb-30">
                                <div class="col-md-6 xs-padding-0 xs-pr-15">
                                    <div class="xs-input-group">
                                        <label for="xs_contact_name">Nome</label>
                                        <div class="xs-input-group-addon">
                                            <i class="fa fa-user color-orange xs-input-addon"></i>
                                            <input type="text" name="name" id="xs_contact_name" class="xs-input-control" placeholder="Entre seu nome...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 xs-padding-0 xs-pl-15">
                                    <div class="xs-input-group">
                                        <label for="xs_contact_email">email</label>
                                        <div class="xs-input-group-addon">
                                            <i class="fa fa-envelope-o color-orange xs-input-addon"></i>
                                            <input type="email" name="email" id="xs_contact_email" class="xs-input-control" placeholder="Entre seu email..." required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="xs-input-group xs-mb-30">
                                <label for="xs_contact_subject">Assunto</label>
                                <div class="xs-input-group-addon">
                                    <i class="fa fa-sticky-note color-orange xs-input-addon"></i>
                                    <input type="text" name="subject" id="xs_contact_subject" class="xs-input-control" placeholder="Assunto">
                                </div>
                            </div>
                            <div class="xs-massage-group xs-mb-30">
                                <label for="x_contact_massage">Messagem</label>
                                <div class="xs-massage-group-addon">
                                    <i class="fa fa-pencil color-orange xs-input-addon"></i>
                                    <textarea name="massage" id="x_contact_massage" class="xs-textarea-control" cols="30" rows="10" placeholder="Escreva aqui a sua mensagem..." required></textarea>
                                </div>
                            </div>
                            <div class="xs-submit-wraper content-center">
                                <input type="submit" name="submit" value="Enviar" id="xs_contact_submit" class="xs-submit-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>	<!-- End contact us section -->
</main>
