<footer class="xs-footer-section fundpress-footer-section v3">
    <div class="fundpress-footer-top-layer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="fundpress-single-footer">
                        <div class="xs-footer-logo">
                            <a href="/">
                                <img src="/Content/images/logo2.png" alt="" style="width: 300px;">
                            </a>
                        </div>
                        <div class="fundpress-footer-content">
                            <p>A movimenta levanta capital para projectos pelos quais tens paixão. Somos uma solução inovadora e construída a medida do mercado angolano para ajudar projectos e ideas reais</p>
                        </div><!-- . END -->
                        <ul class="xs-social-list fundpress-social-list">
                            <li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
                        </ul><!-- .xs-social-list .fundpress-social-list END -->
                    </div><!-- .fundpress-single-footer END -->
                </div>
                <div class="col-md-3">
                    <div class="fundpress-single-footer">
                        <div class="xs-footer-title">
                            <h4 class="color-white">Explora campanhas</h4>
                        </div><!-- .xs-footer-title END -->
                        <nav class="xs-footer-menu">
                            <ul>
                                <li><a href="/">Início</a></li>
                                <li><a href="#">Ciência e Tecnologia</a></li>
                                <li><a href="#">Sociedade</a></li>
                                <li><a href="#">Cultura e Artes</a></li>
                                <li><a href="#">Jogos</a></li>
                                <li><a href="#">Literatura</a></li>
                            </ul>
                        </nav><!-- .xs-footer-menu .xs-block-menu END -->
                    </div><!-- .fundpress-single-footer END -->
                </div>
                <div class="col-md-2">
                    <div class="fundpress-single-footer">
                        <div class="xs-footer-title">
                            <h4 class="color-white">Sobre</h4>
                        </div><!-- .xs-footer-title END -->
                        <nav class="xs-footer-menu">
                            <ul>
                                <li>@Html.ActionLink("Sobre Nós","About","Home")</li>
                                <li><a href="#">Como funciona</a></li>
                                <li><a href="#">Serviços</a></li>
                                <li><a href="#">Parceiros</a></li>
                                <li><a href="news-feed.html">Blog</a></li>
                                <li>@Html.ActionLink("Contácte-nos", "Contact", "Home")</li>
                            </ul>
                        </nav><!-- .xs-footer-menu .xs-block-menu END -->
                    </div><!-- .fundpress-single-footer END -->
                </div>
                <div class="col-md-2">
                    <div class="fundpress-single-footer">
                        <div class="xs-footer-title">
                            <h4 class="color-white">Ajuda</h4>
                        </div><!-- .xs-footer-title END -->
                        <nav class="xs-footer-menu">
                            <ul>
                                <li><a href="faq.html">Perguntas Frequentes</a></li>
                                <li><a href="#">Nossas regras</a></li>
                                <li><a href="#">Confiança e segurança</a></li>
                                <li><a href="#">Suporte</a></li>
                                <li><a href="#">Termos de uso</a></li>
                                <li><a href="#">Política de privacidade</a></li>
                            </ul>
                        </nav><!-- .xs-footer-menu .xs-block-menu END -->
                    </div><!-- .fundpress-single-footer END -->
                </div>
            </div>
        </div>
    </div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
    <div class="xs-footer-bottom-layer fundpress-footer-bottom">
        <div class="container">
            <div class="xs-footer-bottom-wraper">
                <div class="xs-copyright-text fundpress-copyright-text">
                    <p>&copy; 2020 - @DateTime.Now.Year Movimenta: Todos os direitos reservados</p>
                </div>
                <div class="xs-back-to-top-wraper">
                    <a href="#" class="xs-back-to-top full-round green-btn xs-back-to-top-btn show-last-pos">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div><!-- .xs-back-to-top-wraper END -->
            </div>
        </div>
    </div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
</footer>