@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error_" + @Response.StatusCode;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Response.StatusDescription</h2>
<h2 class="text-danger">Ocorreu um erro ao processar a tua requisição.</h2>

