
@{
    ViewBag.Title = "Perguntas Frequntes";
}

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-2 parallax-window" data-parallax="scroll" data-image-src="assets/images/background/faq_bg.jpg">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content">
            <h2 class="color-white">Perguntas Frequentes</h2>
            <ul class="xs-breadcumb fundpress-breadcumb">
                <li><a href="/" class="color-white"> Início /</a> FAQ</li>
            </ul>
        </div>
    </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->
<main class="xs-all-content-wrapper">
    <!-- faq section -->
    <section class="xs-content-section-padding xs-faq-section fundpress-faq-section">
        <div class="container">
            <div class="xs-isotope-grid-wraper">
                
                <div class="xs-col-1-isotope-grid">
                    <div class="xs-col-1-isotope-grid-item art">
                        <div class="fundpress-grid-item-content row xs-marign-0">
                            <div class="fundpress-faq-wraper col-md-6">
                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span>  Movimenta. O que é? </h4>
                                    <p class="clearfix">
                                        <span class="xs-firstcharacter color-green">R.</span>  A Movimenta é uma plataforma de financiamento colaborativo (crowdfunding) que ajuda a levantar financiamento para uma ideia ou projecto. Nosso objectivo é fazer as pessoas conhecerem a tua causa e ajudarem a tirar do papel.
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>

                                <!--
                                   fundpresss-ingle-faq
                                -->

                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span>  Como posso ajudar a financiar uma campanha? </h4>
                                    <p class="clearfix"><span class="xs-firstcharacter color-green">R.</span>  Ajudar a financiar uma campanha na Movimenta é tão fácil como escolher e apoiar! Buscas a campanha que pretendes apoiar e clica em <a href="/projectos">Apoiar esta campanha</a>
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>

                                <!--
                                fundpresss-ingle-faq
                                -->
                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span> Como sei que a campanha que apoiei foi bem sucedida? </h4>
                                    <p class="clearfix"><span class="xs-firstcharacter color-green">R.</span>  A Movimenta é mais que um lugar para angariar fundos, trata-se de criar uma comunidade em torno de um propósito. A plataforma apresenta todos os projectos que já apoiaste e a possibilidade de interagir tanto com os criadores assim como com outras pessoas envolvidas. Sempre que haja alguma informação relevante sobre a campanha, nós nos comprometemos em fazer-lhe saber.
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>
                                <!--
                                fundpresss-ingle-faq
                                -->
                                

                            </div>
                            <div class="fundpress-faq-wraper col-md-6">

                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span>  O que é o tipo de Campanha? </h4>
                                    <p class="clearfix">
                                        <span class="xs-firstcharacter color-green">R.</span> A Movimenta classifica as campanhas em dois tipos, Flexivel e Tudo ou Nada. O primeiro, permite que terminando o prazo da campanha, possas receber os fundos que se angariou até ao momento, estando disponível somente para campanhas de beneficiência. O segundo, obriga a que o objectivo seja alcançado para ter acesso ao fundo, caso não se alcance o objectivo, cada pessoa que financiou recebe o que deu.
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>
                                <!--
                                    fundpresss-ingle-faq
                                    -->


                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span> Quais as formas de pagamentos que a Movimenta aceita? </h4>
                                    <p class="clearfix"><span class="xs-firstcharacter color-green">R.</span>  Podes financiar qualquer campanha usando os seguintes métodos de pagamentos: Pagamentos por referência, e-kwanza, pay-kz.
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>
                                <!--
                                fundpresss-ingle-faq
                                -->
                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span>A Movimenta aceita doações internacionais? </h4>
                                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span>Por favor, note que todas as doações devem ser feitas em kwanza (AOA). Os movimentadores deverão entrar em contacto com seu banco e ver a possibilidade transferência para Angola, a nossa equipe pode o ajudar nesse processo
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>

                                <!--
                                fundpresss-ingle-faq
                                -->
                                <div class="fundpresss-ingle-faq">
                                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">P.</span> Quais são as taxas da Movimenta?</h4>
                                    <p class="clearfix"><span class="xs-firstcharacter color-green">R.</span>A Movimenta possui parceiros que possibilitam que todo o trabalho seja automatizado, nesse caso, por cada campanha bem sucedida a Movimenta retém 10% = 4% para o parceiro do gateway de pagamento e 6% para manter a plataforma
                                    </p>
                                    <span class="xs-separetor border-color-green border-separetor xs-separetor-v2 fundpress-separetor"></span>
                                </div>
                                <!--
                                fundpresss-ingle-faq
                                -->
                            </div>
                        </div>
                    </div><!-- .xs-col-1-isotope-grid-item END -->
            </div>
            <div class="xs-btn-wraper text-center">
                <a href="/home/contact" class="xs-btn round-btn navy-blue-btn">Mais perguntas ?</a>
            </div>
        </div></div>
    </section>	<!-- End faq section -->
</main>
