<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="Environment" value="Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Web-20200428112328.mdf;Initial Catalog=aspnet-Web-20200428112328;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Domain.Concrete.MovimentaContext" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=SQL5102.site4now.net;Initial Catalog=DB_A664D1_MovimentaContext;User Id=DB_A664D1_MovimentaContext_admin;Password=nelsinho1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off"/>
  </system.web>
</configuration>